nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    
}

body{
    font-family: 'Open Sans', sans-serif;
}

.maryclass {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

#mcol{
    color: #FD6E0A ;
}

nav ul{
    display: flex; 
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.banner{
    padding: 30px 30px 0px 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.banner img{
    width: 570px;
    
}

.header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-greet{
    font-size: 45px;
}

.banner-head{
    font-size: 60px;
}
.banner-p{
    max-width: 500px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.para{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
}

.title{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0 ;
}

.info{
    display: flex;
    justify-content: space-around;
}

.info1{
    text-align: center;
}

.infotitle{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

 .infodeta{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.parag{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    padding: 30px 150px;
}